body {
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    text-align: center;
    color: white;
    height: 100vh;
    position: relative; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }

.titulo{
    font-size: 4.0rem;
}